
<div class="row">
    <div id="divProcessing" hidden>
        <h1>Arbetar, var snäll och vänta . . . <img src="../../Content/ajax-loader.gif"></h1>
    </div>


</div>

<div class="row">
    <div>


        <h2>Adressboken</h2>

            @{ var optionsCreate = new AjaxOptions
                    {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "crudfields",
                    OnSuccess = "onWindowChange",
                    OnBegin = "OnCreateBegin",

                    OnComplete= "onWindowChange"
                    };

            }
        <div >

 @using (Ajax.BeginForm("Create", "Person", optionsCreate))

                 {
                <input type="submit"  id ="submit" value="Ny person" />
                }


        </div>

    </div>

</div>



<div class="row">
    <div class="col-md-12" id="crudfields">

    </div>
</div>

<div class="row" id="posts">

</div>

<div class="row" id="posts1">

</div>